.card-info-container{
    margin: 2rem;
}.feather-arrow-left{
    position: absolute;
    translate: -130% -10%;
}
.back-btn{
    padding: .5rem 1.25rem;
    padding-left: 2rem;
    border: none;
    background-color: var(--DarkBlue);
    color: white;
    cursor: pointer;
}
.back-btn.active{
    background-color: white;
    color: black;
}

.card-info-inner-container{
    display: flex;
    height: 60vh;
    width: 75vw;
    align-items: center;
    justify-content: space-around;
    translate: 20%;
}
.card-info-image{
    scale: 1.5;
    margin-right: 2em;
}
.card-info-details{
    color: white;
}
.card-info-details.active{
    color: black;
}
.card-info-details > h1 {
    font-weight: 600;
    font-size: 2em;
    position: absolute;
    translate: 0 -2em;
}

.data-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.1em;
    line-height: 1.7;
    gap: 30px;
}

@media (max-width: 1300px) {
    .card-info-image{
        scale: 1;
    }
}
@media (max-width: 1056px) {
    .card-info-inner-container{
        flex-direction: column;
    }
    .card-info-image{
        scale: 1.5;
    }
    .card-info-details > h1{
        font-size: 3em;
    }
}

@media (max-width: 680px) {
    .card-info-image{
        scale: 1.2;
    }
    .card-info-details > h1{
        font-size: 3em;
        translate: 1.5em -2.5em;
    }
    .data-container{
        margin-top: -2em;
        gap: 15px;
    }
}